.colorBlue {
    background: #136396
}

.alignToRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.paddingMasterPageDown{
    padding-bottom:15px;
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;

}

.div-container {
    border: 0px solid #fff;
    padding: 50px 80px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    -webkit-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}